#anchorpane1
{
    -fx-background-color:#3a2c64;
}
#anchorpane2{
    -fx-background-image: url("img1.jpg");
    -fx-background-color:#bb6579;
    -fx-background-size: 512 512;
    
    
}
#btn{
    -fx-background-color:#bb6579;
    -fx-background-radius:50;
    -fx-font-size:17; 
    -fx-font-weight:bold;
}
#txtf{
    -fx-background-color:#dbe2e5;
}
#label{
    -fx-font-size:17; 
    -fx-font-weight:bold;  
}
#homaanchorpane{
    
    -fx-background-image:url("background.jpg");
    -fx-background-size: 670 520;
}
#avatar{
    -fx-background-image: url("avatar.png");
    -fx-background-size: 110 110;
    
    
    
    
}